
$font-family: "Pangram", sans-serif;
$second-family: "Unbounded", sans-serif;
$third-family: "Inter", sans-serif;
$main-bgc: red;
$main-color: white;
$linear: linear-gradient(67deg, #9f7437 0%, #e3d293 100%);
$linear-rewerse: linear-gradient(67deg, #e3d293 0%, #9f7437 100%);
$main-container: 1310px;
