.container-about {
  padding-left: 69px;
}
.about__inner-text {
  font-family: $font-family;
  font-weight: 600;
  font-size: 30px;
  line-height: 136%;
  color: #1f1f1f;
  margin-bottom: 36px !important;
}
.about__inner-title {
  font-family: $font-family;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
  color: #9f9f9f;
}
