.mark {
    background-color: #f5f5f5;
}
.mark__inner {
  background-color: #fff;
  padding: 80px 0;
  padding-left: 132px;
  padding-right: 149px;
  border-radius: 0 0 36px 36px;
}
.mark__inner-list {
  display: flex;
  align-items: center;
  gap: 59px;
  list-style-type: none;
}
.mark__inner-item-link {
  text-decoration: none;
  display: inline-block;
}
